.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}



.container1{
    background:linear-gradient(to bottom, #1d016f,#7f10e9);
    width: 35vw;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cameraImage{
    background-color: #808080;
    border-radius: 50%;
    border-color: #ffffff;
    border: 1px solid whitesmoke;
    width: 100px;
    
}
.icon-container{
    position: relative;
}
.icon{
    position: absolute;
    left: 5px;
    top:15px
}
.input1{
    padding-right: 20px;
    color: #ffffff;
}

.login-form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .bootom-section{
    display: flex;
    justify-content: space-between;
  }
  
    
  .login-form input {
    margin: 0.5rem 0;
    padding: 10px 10px 10px 30px;
    font-size: 0.75rem;
    color: white;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:2px solid white;
  }
  ::placeholder { 
    color:white;
  }
  .abc{
    font-size: small;
    padding-right: 10px;
  }
  .login-button {
    border: none;
    background-color:#ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.5rem;
    font-weight: bold;
  }
    
